
<form>
    <div class="form-padding">
        <h4>Fill the Details Bellow</h4>
        <div class="form-group">
            <label>NAME AND SURNAME</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Name">
        </div>
        <div class="form-group">
            <label>PHONE NUMBER</label>
            <input type="text" class="form-control" id="email" name="email" placeholder="Email">
        </div>
        <div class="form-group">
            <label>PATIENT NUMBER</label>
            <input type="text" class="form-control" id="mobile" name="mobile" placeholder="Mobile Number">
        </div>

        <div class="row">
            <div class='col-sm-6'>
                <div class="form-group">
                        <label>SELECT DATE</label>
                    <div class='input-group date' id='datetimepicker1'>
                        <input type='date' class="form-control" />
                       
                    </div>
                </div>
               
            </div>
         
        </div>
       
    </div>
    <div class="form-footer">
        
        <button type="button" id="submit" name="submit" class="btn btn-primary">SUBMIT</button>
    </div>
</form>
